.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

/* Actives when page width > 1000px */
@media (min-width: 1000px) {
  /* Sets title to 16px  */
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  /*Sets others font size to 14px insiide video-grid. This is will be inherited to all elements */
  .video-grid {
    font-size: 14px;
  }
}

.video-link {
  color: black;
  text-decoration: none;
}

.thumbnail {
  width: 100%;

}

.video-info-grid {
  display: grid;
  grid-template-columns: 48px 1fr;
}

.profile-pic,
.tooltip-logo {
  width: 36px;
  border-radius: 25px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats,
.tooltip-subs {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.channel-link {
  color: rgb(96, 96, 96);
  text-decoration: none;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/* Below CSS grid is actived only when width is between 0-750px */
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Below CSS grid is actived only when widths are between 751-999px */
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Below CSS grid is actived only when width is 1000px or above */
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



.video-time {
  position: absolute;
  right: 4px;
  bottom: 11px;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
}

.channel-logo-tooltip {
  display: inline-block;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: white;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-top: 5px;
  column-gap: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
}

.tooltip-channel {
  font-weight: bold;
}

.tooltip-logo {
  width: 46px;
  border-radius: 25px;
}

.tooltip-stats {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.channel-logo-tooltip:hover .tooltip {
  opacity: 1;
}